body {
  font-size: 0.875rem;
}

.header {
  height: 3.5rem;
  width: 100%;
  padding: 0 1rem;
  box-sizing: border-box;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.15);
  z-index: 100;
}
.content-wrapper {
  margin-top: 3.5rem;
  min-height: 100vh;
  .main-content {
    overflow: hidden;
    margin-left: 15rem;
    .main-content-inner {
      padding: 1.25rem 1.875rem;
      min-height: 100vh;
    }
  }
}
.footer {
  padding-left: 1.875rem;
  margin-top: 1.25rem;
  padding-bottom: 0.625rem;
  border-top: 1px solid var(--divider);
  padding-top: 0.625rem;
}
