@import 'tailwindcss' source(none);

@theme inline {
  --color-primary: var(--primary);
  --font-display: var(--font-display);
}

@layer base {
  body.admin {
    --primary: #008060;
    --secondary: #111213;
    --surface: #111213;
    --onSurface: #111213;
    --interactive: #2c6ecb;
    --critical: #d72c0d;
    --warning: #ffc453;
    --highlight: #5bcdda;
    --success: #008060;
    --decorative: #ffc96b;
    --border: #8c9196;
    --background: #f6f6f7fc;
    --icon: #5c5f62;
    --textSubdued: #6d7175;
    --divider: #e1e3e5;
    --formFieldBorder: #c9cccf;
    --formFieldBorderShadow: #aeb4b9;
  }
}
